<br />
<br />
<br />
<br />
<br />
@{
    ViewData["Title"] = "Đặt hàng thành công";
}

<div class="container text-center">
    <h2 class="my-4">Đặt hàng thành công</h2>
    <p>Cảm ơn quý khách, đơn hàng của bạn đã được đặt thành công. Chúng tôi sẽ xử lý đơn hàng ngay lập tức!</p>
</div>
