@{
    ViewData["Title"] = "Registy Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <h2 class="text-center my-2 py-2">Đăng ký thành công. đăng nhập để tiếp tục...</h2>
</div>