@{
    ViewData["Title"] = "Trang chủ";
}

<div class="home-banner" style="margin-top:6rem">
    <div class="home-banner__content">
        <h1>
            THẾ GIỚI NỘI THẤT SỐ 1 VIỆT NAM <br /><span>HOÀNG HOAN</span>
           
        </h1>
        <p>
            Sứ mệnh của chúng tôi là kết hợp hài hoà giữa ý tưởng và<br /> mong muốn
            của khách hàng,đem lại những phút giây thư<br /> giãn tuyệt vời bên gia
            đình và những người thân yêu

        </p>
        <div class="home-banner__btn">
            <a href="/Contact" style="color:white">LIÊN HỆ NGAY</a>
        </div>

    </div>
</div>
<div class="home-category">
    <div class="list-category">
        <div class="row">
            <div class="col-md-3">
                <a href="/product">
                    <img src="~/images/anhcat/icon-phong-khach.png" alt="">
                    <p>Phòng khách</p>
                </a>
            </div>
            <div class="col-md-3">
                <a href="/product">
                    <img src="~/images/anhcat/icon-phong-ngu.png" alt="">
                    <p>Phòng ngủ</p>
                </a>
            </div>
            <div class="col-md-3">
                <a href="/product">
                    <img src="~/images/anhcat/icon-phong-bep.png" alt="">
                    <p>Phòng bếp</p>
                </a>
            </div>
            <div class="col-md-3">
                <a href="/product">
                    <img src="~/images/anhcat/icon-phong-tam.png" alt="">
                    <p>Phòng tắm</p>
                </a>
            </div><div class="col-md-3">
                <a href="/product">
                    <img src="~/images/anhcat/icon-tre-em.png" alt="">
                    <p>Trẻ em</p>
                </a>
            </div>
            <div class="col-md-3">
                <a href="/product">
                    <img src="~/images/anhcat/icon-van-phong.png" alt="">
                    <p>Văn phòng</p>
                </a>
            </div>
            <div class="col-md-3">
                <a href="/product">
                    <img src="~/images/anhcat/icon-cau-thang.png" alt="">
                    <p>Cầu thang</p>
                </a>
            </div>
            <div class="col-md-3">
                <a href="/product">
                    <img src="~/images/anhcat/icon-do-trang-tri.png" alt="">
                    <p>Đồ trang trí</p>
                </a>
            </div>
        </div>
    </div>
    <div class="slide-product">
        <h4>sản phẩm nổi bật</h4>
        <div class="row">
            <div class="col-md-3 col-sm-6 ">
                <div class="card h-100 shadow-sm">
                    <div class="hot-badge">
                        <span>Hot</span>
                    </div>
                    <img src="/Images/products/001.jpg" alt="Title" class="card-img-top img-fluid" style="height: 180px; width: auto; max-width: 100%; object-fit: cover; position: relative; margin: 10px;">
                    <div class="card-body">
                        <h6 class="card-title text-truncate">
                            <a href="/Product/Details/8">Bàn tiếp khách</a>
                        </h6>
                        <p class="text-muted text-decoration-line-through mb-1">12,999,999 VND</p>
                        <p class="text-danger fw-bold">9,999,999 VND</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 ">
                <div class="card h-100 shadow-sm">
                    <div class="hot-badge">
                        <span>Hot</span>
                    </div>
                    <img src="/Images/products/phong-khach/002.jpg" alt="Title" class="card-img-top img-fluid" style="height: 180px; width: auto; max-width: 100%; object-fit: cover; position: relative; margin: 10px;">
                    <div class="card-body">
                        <h6 class="card-title text-truncate">
                            <a href="/Product/Details/14">Kệ TV</a>
                        </h6>
                        <p class="text-muted text-decoration-line-through mb-1">15,999,999 VND</p>
                        <p class="text-danger fw-bold">12,899,999 VND</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 ">
                <div class="card h-100 shadow-sm">
                    <div class="hot-badge">
                        <span>Hot</span>
                    </div>
                    <img src="/Images/products/phong-ngu/003.jpg" alt="Title" class="card-img-top img-fluid" style="height: 180px; width: auto; max-width: 100%; object-fit: cover; position: relative; margin: 10px;">
                    <div class="card-body">
                        <h6 class="card-title text-truncate">
                            <a href="/Product/Details/17">Giường gỗ</a>
                        </h6>
                        <p class="text-muted text-decoration-line-through mb-1">20,999,999 VND</p>
                        <p class="text-danger fw-bold">18,999,999 VND</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 ">
                <div class="card h-100 shadow-sm">
                    <div class="hot-badge">
                        <span>Hot</span>
                    </div>
                    <img src="/Images/products/phong-khach/011.jpg" alt="Title" class="card-img-top img-fluid" style="height: 180px; width: auto; max-width: 100%; object-fit: cover; position: relative; margin: 10px;">
                    <div class="card-body">
                        <h6 class="card-title text-truncate">
                            <a href="/Product/Details/20">SOFA</a>
                        </h6>
                        <p class="text-muted text-decoration-line-through mb-1">10,000,000 VND</p>
                        <p class="text-danger fw-bold">8,400,000 VND</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="home-aboutUs">
    <div class="home-aboutUs__content">
        <h4 style="color:white"><b>về chúng tôi</b></h4>
        <div class="row">
            <div class="col-md-6">
                <img src="~/images/anhcat/ve-chung-toi.jpg" alt="về chúng tôi" class="h-100 w-100">
            </div>
            <div class="col-md-6">
                <p>nội thất <span>hoàng hoan</span><br>uy tín song hành chất lượng</p>
                <p>Nội thất của <span>Hoàng Hoan</span> chúng tôi tự hào là đức con tinh thần ra đời sau hơn 30 năm hoạt động trong lĩnh vực kinh doanh đồ gỗ nội thất với thương hiệu ĐỒ GỖ HOÀNG HOAN nổi tiếng.</p>
                <p>Tài nguyên của chúng tôi là đội ngũ kiến trúc sư tốt nghiệp ĐH Kiên Trúc Hà Nội với nhiều năm kinh nghiệm, luôn tràn đầy nhiệt huyết và sức sáng tạo của tuổi trẻ. Thế mạnh của chúng tôi là sở hữu xưởng nội thất hơn 10.000m2 tại Hà Nội sản xuất đa dạng các sản phẩm với giá cả luôn cạnh tranh.</p>
                <div class="list-img">
                    <ul class="d-flex justify-content-between">
                        <li>
                            <div class="box">
                                <img src="images/anhcat/ve-chung-toi-1.jpg" alt="về chúng tôi 1">
                                <div class="see-more">
                                    <a class="btn" href="/">Xem thêm&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="box">
                                <img src="images/anhcat/ve-chung-toi-2.jpg" alt="về chúng tôi 1">
                                <div class="see-more">
                                    <a class="btn" href="/">Xem thêm&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="box">
                                <img src="images/anhcat/ve-chung-toi-3.jpg" alt="về chúng tôi 1">
                                <div class="see-more">
                                    <a class="btn" href="/">Xem thêm&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="box">
                                <img src="images/anhcat/ve-chung-toi-4.jpg" alt="về chúng tôi 1">
                                <div class="see-more">
                                    <a class="btn" href="/">Xem thêm&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="home-aboutUs__content">
        <h4 style="color:white"><b>tại sao nên chọn hoàng hoan?</b></h4>
        <div class="row">
            <div class="col-md-6">
                <div class="aboutUs-policy__item d-flex">
                    <div class="img">
                        <img src="images/anhcat/chinh-sach.jpg" alt="">
                    </div>
                    <div class="content">
                        <p class="title">chính sách giá</p>
                        <p class="desc">Tốt nhất và công khai giá trên Website</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="aboutUs-policy__item d-flex">
                    <div class="img">
                        <img src="images/anhcat/san-pham.jpg" alt="">
                    </div>
                    <div class="content">
                        <p class="title">sản xuất</p>
                        <p class="desc">Trực tiếp sản xuất bởi đội ngũ nhân viên hàng đầu</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="aboutUs-policy__item d-flex">
                    <div class="img">
                        <img src="images/anhcat/chat-luong.jpg" alt="">
                    </div>
                    <div class="content">
                        <p class="title">chất lượng</p>
                        <p class="desc">Cam kết chất lượng sản phẩm và tiến độ thi công</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="aboutUs-policy__item d-flex">
                    <div class="img">
                        <img src="images/anhcat/bao-hanh.jpg" alt="">
                    </div>
                    <div class="content">
                        <p class="title">bảo hành</p>
                        <p class="desc">Dịch vụ bảo hành sản phẩm tốt nhất khu vực</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="home-new">
    <div class="home-news">
        <h4>tin tức</h4>
        <div class="row ">
            <div class="col-md-7 home-news__effect">
                <a href="/new">
                    <div class="thumbnail box">
                        <div class="img img-main">
                            <img src="images/news/01.jpg" alt="">
                        </div>
                        <div class="main-content">
                            <p>Cách chọn Sofa cho phòng khách thêm sang trọng</p>
                            <p>Không phải ai trong chúng ta cũng biết cách chọn màu sofa cho phòng khách trở nên sang trọng và đẹp mắt hơn. Tuy nhiên, đây là yếu tố quyết định phần lớn đến tính thẩm mỹ của toàn bộ ngôi nhà.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-5">
                <div class="thumbnail">
                    <div class="home-news__effect">
                        <div class="row fix-height">
                            <div class="col-md-5 box">
                                <div class="img img-list">
                                    <a href="/new">
                                        <img src="images/news/02.jpg" alt="tin tức">
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <p class="title">
                                    <a href="/new">
                                        Trang trí phòng khách cho thêm năng động
                                    </a>
                                </p>
                                <p class="desc">Không cần quá đầu tư quá nhiều tiền vào những món đồ sang trong cho việc trang trí phòng khách. Bạn vẫn có thể sở hữu không gian phòng khách đẹp với những mẹo không phải ai cũng sẵn sàng chỉ cho bạn. </p>
                            </div>
                        </div>
                        <div class="row fix-height">
                            <div class="col-md-5 box">
                                <div class="img img-list">
                                    <a href="/new">
                                        <img src="images/news/06.jpg" alt="tin tức">
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <p class="title">
                                    <a href="/new">
                                        25+ Mẫu giường ngủ hộc kéo cho phòng nhỏ
                                    </a>
                                </p>
                                <p class="desc">
                                    Sự thật là chúng ta dành hết 1/3 cuộc đời chỉ để ngủ, vì thế việc tạo được một giấc ngủ ngon là một điều đặc biệt quan trọng. Giường ngủ hộc kéo chính là giải pháp thông minh vừa giúp đem lại một giấc ngủ sâu, vừa giúp các gia đình giải quyết hiệu quả bài toán diện tích.
                                </p>
                            </div>
                        </div>
                        <div class="row fix-height">
                            <div class="col-md-5 box">
                                <div class="img img-list">
                                    <a href="/new">
                                        <img src="images/news/05.jpg" alt="tin tức">
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <p class="title">
                                    <a href="/new">
                                        Top 10 mẫu nội thất chung cư 1 phòng ngủ
                                    </a>
                                </p>
                                <p class="desc">
                                    Những căn hộ chung cư mini có diện tích nhỏ, ngày càng trở nên ưa chuộng hơn trong cuộc sống hiện đại với những ai có khoản kinh phí “hạn hẹp”. Thiết kế nội thất chung cư một phòng ngủ chính là giải pháp tối ưu nhất mang lại một không gian sống hoàn hảo và hiện đại.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="readMore">
                        <a href="/new">
                            Xem thêm
                            <i class="fa-solid fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="home-partner">
    <h4>đối tác</h4>
    <div class="slider-container">
        <div class="slider-track">
            <img src="images/anhcat/sheraton.png" alt="Sheraton">
            <img src="images/anhcat/sunrise-sapa.png" alt="Sunrise Sapa">
            <img src="images/anhcat/the-coffee-house.png" alt="The Coffee House">
            <img src="images/anhcat/vinpearl.png" alt="Vinpearl">
            <img src="images/anhcat/marvella.png" alt="Marvella">
            <img src="images/anhcat/melissa.png" alt="">
            <img src="images/anhcat/muong-thanh.png" alt="">
        </div>
    </div>
    <div class="slider-controls" hidden>
        <button id="prev">Previous</button>
        <button id="next">Next</button>
    </div>

</div>
<div class="home-contact">
    <div class="row">
        <div class="col-md-6">
            <p class="home-contact__content">
                Trải nghiệm dịch vụ
                <br><strong>cùng Hoàng Hoan ngay</strong>
            </p>
        </div>
        <div class="col-md-6">
            <!-- Thông báo -->
            <div id="notification" style="display: none;" class="alert"></div>

            <!-- Form nhập email -->
            <form id="emailForm" class="home-contact__form">
                <p>Nhập email của bạn</p>
                <input type="email" id="emailInput" name="email" placeholder="Email của bạn" required>
                <button type="submit">Gửi</button>
            </form>
        </div>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
            $(document).ready(function () {
                $('#emailForm').on('submit', function (e) {
                    e.preventDefault(); // Ngăn form reload trang

                    const email = $('#emailInput').val(); // Lấy giá trị email từ input
                    if (!email) {
                        showNotification("Vui lòng nhập email.", false);
                        return;
                    }

                    // Gửi dữ liệu qua AJAX
                    $.ajax({
                        url: '/Contact/SaveEmail',
                        type: 'POST',
                        data: { email: email },
                        success: function (response) {
                            if (response.success) {
                                showNotification(response.message, true);
                                $('#emailInput').val(''); // Xóa input sau khi gửi thành công
                            } else {
                                showNotification(response.message, false);
                            }
                        },
                        error: function () {
                            showNotification("Đã xảy ra lỗi khi gửi email.", false);
                        }
                    });
                });

                // Hàm hiển thị thông báo
                function showNotification(message, isSuccess) {
                    const notification = $('#notification');
                    notification
                        .text(message)
                        .removeClass(isSuccess ? 'alert-danger' : 'alert-success')
                        .addClass(isSuccess ? 'alert-success' : 'alert-danger')
                        .fadeIn();

                    setTimeout(() => notification.fadeOut(), 3000); // Ẩn sau 3 giây
                }
            });
        </script>



    </div>
    <img class="image" src="~/images/anhcat/ghe.png" alt="liên hệ">
</div>
